<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %>

  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <section class="section">
      <div class="container">
        <h1 class="title">Developers List</h1>
        <p class="subtitle">View and select developers</p>
      </div>
      <div class="container mt-5">
        <div class="container mt-5">
          <div class="columns">
            <div class="column is-6">
              <% for(var i=0; i < response.length; i++) { %>
              <article class="media">
                <figure class="media-left">
                  <p class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/128x128.png" />
                  </p>
                </figure>
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong><%= response[i].name %></strong> <small><%= response[i].skill %></small>
                      <br />
                      Location: <%= response[i].location %> | Experience: <%= response[i].experience %>
                    </p>
                  </div>
                </div>
              </article>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
